.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}
#project {
  background-color: #e2edff;
}
footer {
  background-color: #e2edff;
}
#about {
  padding-top: 4rem;
}
#project {
  padding-top: 4rem;
}
#contact {
  padding-top: 4rem;
}
